.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px;
  font-size: 15px;
  background-color: cadetblue;
  color: white;
  text-transform: uppercase;
  font-weight: 400;
  border: none;
  cursor: pointer;
  font-family: inherit;

  &:hover {
    background-color: #fff;
    color: #777;
    border: 1px solid #ccc;
  }
}
