.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #777;
  top: 80px;
  background: #fff;
  right: 0;
  z-index: 5;
  font-family: 'Kalam', cursive;

  .empty-message {
    font-size: 18px;
    margin: 40px auto;
    font-family: inherit;
  }

  .cart-items {
    height: 295px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
    font-family: inherit;
  }
}
