.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #777;
  top: 80px;
  background: #fff;
  right: 0;
  z-index: 5;

  .cart-items {
    height: 295px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  button {
    margin-top: auto;
    font-family: 'Kalam', cursive;
  }
}
